################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages/MahApps.Metro.1.6.5/MahApps.Metro.1.6.5.nupkg
